@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


input::placeholder {
  color: #6b6b6b !important; /* darker gray */
  opacity: 1 !important;     /* fixes iOS fading */
}

input:-ms-input-placeholder {
  color: #6b6b6b !important; /* Edge/IE */
}

input::-ms-input-placeholder {
  color: #6b6b6b !important; /* Edge/IE */
}

